/* CSS do site */

#logo{
    height: 70px;
    width: 250px;
    /*margin-left: 2cm;*/
}
#textoLigue{
    text-align: right;
    font-size: larger;
    vertical-align: middle;
    float: right;
    padding: 10px;
} 
.centro{
    width: 100%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.pBase{
    font-size: 35px;
}
.titulos{
    font-size: 60px;
}
.botao{
    margin: auto;
    width: 26%;
    height: 45px;
    color: white;
    font-size: 20px;
    background-color: green;
    border: 1px solid black;
    border-right: 4px solid black; 
    border-bottom: 4px solid black; 
    
}
.anuncio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.textImage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
div{
    width: 100%;
}
.textImage p{
    font-size: 27px;
    width: 50%;
}
.tituloCon{
    text-align: center; 
}
.linhaObj{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.colunaObj{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.linhaObjSemSpace{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.miniImag{
    align-self: center;
    height: 70px;
    width: 70px;
}
.numeros{
    align-self: center;
    height: 45px;
    width: 45px;
}
