/* CSS do site */

#logo{
    height: 100px;
    width: 250px;
    /*margin-left: 2cm;*/
}
#textoLigue{
    text-align: right;
    font-size: larger;
    vertical-align: middle;
    float: right;
    padding: 10px;
} 
.centro{
    width: 100%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #589c9c;
}
.pBase{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.botao{
    margin: auto;
    width: 26%;
    height: 45px;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 68, 77);
    border: 1px solid black;
    border-right: 4px solid black; 
    border-bottom: 4px solid black; 
    
}
.anuncio{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    background-color: #D1E0E0;
}
.textImage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: #D1E0E0;
}
div{
    width: 100%;
}
.textImage p{
    font-size: 27px;
    width: 50%;
}
.tituloCon{
    background-color: #589c9c;
    text-align: center; 
}
.linhaObj{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #589c9c;
}
.colunaObj{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    background-color: #589c9c;
}
.tituloCon2{
    background-color: #D1E0E0;
    text-align: center; 
}
.linhaObj2{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #D1E0E0;
}
.linhaObjSemSpace{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: #D1E0E0;
}
.miniImag{
    align-self: center;
    height: 70px;
    width: 70px;
}
.numeros{
    align-self: center;
    height: 45px;
    width: 45px;
}
.proMove{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #589c9c;
}
.divContentImgs{
    background-color: #589c9c;
}
.divContentPalavras{
    background-color: #D1E0E0;
}
.form{
    text-align: center; 
    background-color: #589c9c;
}
textarea{
    font-size: 30px;
}
input{
    font-size: 30px;
}
header{
    background-color: #1f5a5a;
    border-bottom-style: solid;
    border-bottom-color: black;
}
/* #589c9c */